.media-viewport{
    height: 60vh;
    overflow: auto;
    position: relative;
    resize: vertical;
    min-height: 200px;
}

.media-viewport img{
    border: 1px solid #dfdfdf;
    margin: 0px auto;
    display: block;
    max-width: 100%;
}