.media-viewport{
    height: 60vh;
    overflow: auto;
    position: relative;
    resize: vertical;
    min-height: 200px;
}

.media-viewport.no-scroll{
    overflow: hidden;
}

.media-viewport > *{
    overflow: visible;
}

.media-viewport em{
    margin-right: 0.1em;
}

.media-viewport img{
    margin: 0px auto;
    display: block;
    max-width: 100%;
}