#logger{
    width: 100%;
    font-family: consolas;
    font-weight: 300;
    font-size: 12px;
    background: rgb(30, 30, 30);
    color: rgba(299, 299, 299);
    padding: 12px 20px;
}

#logger p{
    margin-bottom: 2px;
}