#logger{
    width: 100%;
    font-family: consolas;
    font-weight: 300;
    font-size: 12px;
    background: rgb(30, 30, 30);
    color: rgba(299, 299, 299);
    border-radius: 4px;
    max-height: 90vh;
    overflow-y: auto;
}

#logger.light{
    background: transparent;
    color: black;
}

#logger .logger-section{
    word-break: break-all;
    padding: 20px 25px;
    border-bottom: 1px solid #4a4a4a;
}

#logger .logger-section:last-child{
    border-bottom: none;
}

#logger p{
    margin-bottom: 2px;
}

#logger span.log{
    color: #2196f3;
}


pre p{
    margin-bottom: 1px;
}