/*
#version-wrapper ul{
    list-style-type: none;
    padding: 0;
}
#version-wrapper ul li{
    margin-bottom: 5px;
}
#version-wrapper ul li .submission-item{
    transition: 0.3s;
    padding: 4px 5px;
}
#version-wrapper ul li .submission-item.active{
    border-left: 3px solid #2196f3;
    padding-left: 10px;
}
#version-wrapper ul li .submission-item.active,
#version-wrapper ul li .submission-item.active small{
    background: #f5f5f5;
    color: #2196f3;
}
#version-wrapper ul li .submission-item.outdated,
#version-wrapper ul li .submission-item.outdated small{
    opacity: 0.6;
    color: #f44336;
}
#version-wrapper ul li .submission-item.active{
    opacity: 1;
}
#version-wrapper ul li .submission-item small{
    font-size: 0.7em;
    color: gray;
}

button:disabled,
button[disabled]{
    border: 1px solid #d6d6d6;
    background-color: #f5f5f5;
    color: #d6d6d6;
}

*/

#version-wrapper ul li .submission-item.outdated{
    opacity: 0.6;
    transition: 0.3s;
    color: #FF6565;
}

#version-wrapper ul li.active .submission-item.outdated{
    opacity: 1;
}

.score-board{
    width: 100%;
    border: 1px solid #43425D;
    color: #43425D;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    font-size: 1.1em;
    display: block;
    margin-bottom: 20px;
}