@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 15px !important;
  color: #43425D !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none !important;
}

small{
  color: #949599;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header{
  box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
}

#content{
  min-height: 80vh;
  padding: 30px 15px;
  background-color: #f2f4f8;
}

#footer{

  padding: 30px 15px;
}

.panel{
  padding: 20px 25px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
  height: 100%;
}

.panel h1,
.panel h2,
.panel h3,
.panel h4{
  margin-bottom: 20px;
}

.panel.no-pad{
  padding: 0;
}

.pad{
  padding: 20px 25px;
}

.style-btn{
  padding: 8px 18px;
  border-radius: 6px;
  outline: none !important;
  border: none;
  font-size: 0.9em;
  background: #3B86FF;
  color: white !important;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.style-btn.submit{
  color: white !important;
  background: #5EE2A0;
}
.style-btn.warn{
  color: white !important;
  background: #FF6565;
}


.style-list{
  list-style: none;
  margin: 0px -25px;
  padding: 0;
}

.style-list li{
  border-bottom: 1px solid #e9e9ec;
  background: #f7f7f7;
  transition: 0.3s;
}

.style-list li:first-child{
  border-top: 1px solid #e9e9ec;
}

.style-list li.active{
  background: white;
  border-left: 3px solid #3B86FF;
}

.style-list li > *{
  padding: 12px 25px;
  display: block;
}

.style-list li > a{
  text-decoration: none;
  color: black;
}

.style-list li:hover{
  background: white;
}

.two-box,
.one-box{
  margin: 8px -25px -13px -25px;
}

.two-box a{
  border-radius: 0;
  width: 50%;
}
.one-box a{
  border-radius: 0;
  width: 100%;
}

